
<div class="text-center center jumbotron">
  <h1>Welcome to Whiskey Gaming!</h1>
  <h2>A community of E-Sports enthusiasts</h2>
  <p>you made it!</p>
<% if session.key? :current_user %>
<h3>Current user:</h3>
<%= image_tag session[:current_user][:image] %>
<p><%= session[:current_user][:nickname] %></p>
<p><%= session[:current_user][:uid] %></p>
<% end %>

</div>

<ul>
	<li>here are some matches!</li>
	<% @matchlist.each do |match| %>
	<li><%= Date.strptime(match['start_time'].to_s, '%s').to_formatted_s(:rfc822) %> - <%= match['match_id'] %></li>
	<% end %>
</ul>