 <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
	<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">

	  <a class="navbar-brand" href="#"><img id="logo" width="65" height="65" src="/pixelwhiskey.gif">Whiskey Gaming</a>

	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	       <a class="nav-link" <%= link_to "Home", root_path %></a> 
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" <%=link_to 'About Us', about_path %></a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" <%=link_to 'Teams', teams_path %> </a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" <%=link_to 'Leaderboards', leaderboards_path %></a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" <%=link_to 'News', news_path %></a>
	      </li>

	       <% if current_user %>
            <ul class="nav-item pull-right">
              <li class="nav-link"><%= image_tag current_user.avatar_url, alt: current_user.nickname %></li>
              <li class="nav-link"><%= link_to 'Log Out', logout_path, method: :delete %></li>
            </ul>
          <% else %>
            <ul class="nav-item">

			<%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %>

              
            </ul>
          <% end %>

        
	    </ul>

	  
	  </div>
	</nav>
	<div class="container">
      		<% flash.each do |key, value| %>
      		<div class="alert alert-<%= key %>">
          		<%= value %>
        	</div>
      		<% end %>
    	</div>
  <div class="page-header"><h1><%= yield :page_header %></h1></div>
  </div>
</header>